body {
    margin: 0;
}

.CodeMirror {
    height: 100vh;
    width: 100%;
}

.view {
    display: flex;
}

.view > .main {
    flex: auto;
}

.breakpoints {
    width: .8em;
}

.breakpoint {
    color: #822;
}

.panel-menu {
    height: 100vh;
    width: 40px;
    border-left: 1px solid #aaa;
    background-color: #ddd;
    position: relative;
    z-index: 3;
}

.panel > .name {
    transform: rotate(90deg);
    transform-origin: 20px 20px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.panel {
    margin-top: 60px;
}

.panel-menu .panel:nth-child(1) {
    margin-top: 0;
}

.panel > .name:hover,
.panel.active .name {
    background-color: #bbb;
    cursor: pointer;
}

.pane {
    border-left: 1px solid #aaa;
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    transform: translateX(40px);
    background-color: #ddd;
}

.panel.active .pane {
    transform: translateX(-300px);
}
