<panel-menu class="left">
    <panel name="Project" active="true">
        <files [files]="filesService.root" (select)="open($event)"></files>
    </panel>
</panel-menu>

<tabs class="editors">
    <pane *ngFor="#file of openFiles" [name]="file">
        <editor [file]="file"></editor>
    </pane>
</tabs>

<panel-menu class="right">
    <panel name="Debug" active="true">
        <debug [file]="currentFile"></debug>
    </panel>
    <panel name="Outline">
        <outline [file]="currentFile" (hover)="editor.highlight($event)" (select)="editor.focus($event)"></outline>
    </panel>
</panel-menu>