<ul>
    <li *ngFor="#node of nodes">
        <div class="variable" (click)="node.__expanded = !node.__expanded">
            <span class="icon" [class.directory]="node.property" [class.expanded]="node.__expanded"></span>
            <span class="type">{{ node.$type }} </span>
            <span class="name">{{ node.$name }} </span>
            <span class="value">{{ node.keyValue }}</span>
        </div>
        <div *ngIf="node.property && node.__expanded">
            <tree [nodes]="node.property.length ? node.property : [node.property]"></tree>
        </div>
    </li>
</ul>