body {
    font-family: "Open Sans Light", sans-serif;
    font-size: 12px;
    color: #bbbbbb;
    background-color: #2b2b2b;
}

.CodeMirror {
    background: #2b2b2b;
    color: #f8f8f2;
}

div.CodeMirror-selected {
    background: #49483E;
}

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
    background: rgba(73, 72, 62, .99);
}

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
    background: rgba(73, 72, 62, .99);
}

.CodeMirror-gutters {
    background: #313335;
    border-right: 1px solid #555555;
}

.CodeMirror-guttermarker {
    color: white;
}

.CodeMirror-guttermarker-subtle {
    color: #d0d0d0;
}

.CodeMirror-linenumber {
    color: #888888;
}

.CodeMirror-cursor {
    border-left: 1px solid #f8f8f0;
}

span.cm-comment {
    color: #75715e;
}

span.cm-atom,
span.cm-builtin {
    color: #a5c261;
}

span.cm-number {
    color: #ae81ff;
}

span.cm-property, span.cm-attribute {
    color: #a6e22e;
}

span.cm-keyword {
    color: #e8bf6a;
}

span.cm-string {
    color: #e6db74;
}

span.cm-variable {
    color: #f8f8f2;
}

span.cm-variable-2 {
    color: #9effff;
}

span.cm-variable-3 {
    color: #66d9ef;
}

span.cm-def {
    color: #fd971f;
}

span.cm-bracket {
    color: #f8f8f2;
}

span.cm-tag {
    color: #f92672;
}

span.cm-header {
    color: #ae81ff;
}

span.cm-link {
    color: #ae81ff;
}

span.cm-error {
    background: #f92672;
    color: #f8f8f0;
}

.CodeMirror-activeline-background {
    background: #323232;
}

.CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

panel-menu .menu button {
    color: #eaeaea;
}

panel-menu .menu button:hover {
    background-color: #353739;
}

panel-menu .menu button.active {
    background-color: #2d2f30;
}

panel-menu.left .menu {
    border-right: 1px solid #282828;
}

panel-menu.right .menu {
    border-left: 1px solid #555555;
}

panel-menu.bottom .menu {
    border-top: 1px solid #555555;
}

panel-menu .menu,
panel {
    background-color: #3c3f41;
}

panel-menu.left panel.active {
    border-right: 1px solid #282828;
    border-left: 1px solid #555555;
}

panel-menu.right panel.active {
    border-left: 1px solid #282828;
    border-right: 1px solid #282828;
}

panel-menu.bottom panel.active {
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
}

.CodeMirror-hints {
    min-width: 145px;
    background-color: #3c3f41;
    border: 1px solid #c0c0c0;
    border-radius: 0;
    padding: 0;
}

.CodeMirror-hint {
    color: #bbbbbb;
    padding: 2px;
    border-radius: 0;
}

li.CodeMirror-hint-active {
    background: #0052a4;
}

.CodeMirror-suspended {
    background: rgba(47,101,202,1);
}

.CodeMirror-frame {
    background: rgba(47,101,202,.3);
}

.CodeMirror-highlight {
    background: rgba(255, 132, 0, 0.7);
}

.CodeMirror-breakpoints {
    width: .8em;
}

.CodeMirror-breakpoint {
    color: #d76154;
    font-size: 20px;
    line-height: 10px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background-color: #4c4c4c;
    border-radius: 2px;
}

button[disabled] {
    border: 2px solid #4c4c4c;
    background-color: #4c4c4c;
}

editor-tabs ul {
    border-bottom-color: #282828;
}

editor-tabs {
    background-color: #3c3f41;
    border-bottom-color: #515658;
}

editor-tabs li {
    border: 1px solid #282828;
    border-left: 0;
    border-bottom: 0;
    background-color: #3c3e3f;
}

editor-tabs li.active {
    background-color: #515658;
}

editor-tabs li button {
    color: #bbbbbb;
}

.dragged-over {
    outline: 1px solid #ff6464;
}

context-menu hr {
    border: 0;
    margin: 2px 0;
    border-bottom: 1px solid #515151;
}

context-menu {
    background-color: #3c3f41;
    border: 1px solid #515151;
    box-shadow: 0 0 15px black;
}

project-node input,
file-node input,
directory-node input {
    background-color: transparent;
    border: 1px solid #515151;
    color: #bbbbbb;
    padding: 2px 3px;
    margin: 1px;
    height: 16px;
    outline: none;
}

project-node input.ng-invalid,
file-node input.ng-invalid,
directory-node input.ng-invalid {
    border: 1px solid #ac3f3c;
}

.list-item {
    border-top: 1px solid #555555;
    border-bottom: 1px solid #282828;
    padding: 5px;
}

.list-item.active {
    background-color: rgba(47,101,202,.3);
}

.list-item .description {
    padding-bottom: 5px;
}

.list-item .type {
    color: black;
}

tree .variable {
    cursor: pointer;
}

.breakpoint input {
    position: absolute;
    top: 5px;
}

.list-item.interactable:hover {
    text-decoration: underline;
    cursor: pointer;
}


code-view {
    color: white;
}

repl input {
    color: #bbbbbb;
}

.msg.error {
    color: #ac3f3c;
}

guide {

}

guide button {
    border: 1px solid #515151;
    background-color: #2d2f30;
    outline: 0;
    color: #eaeaea;
    margin: 5px;
    padding: 5px;
    min-width: 27px;
}

guide button:hover {
    background-color: #353739;
}