/**************************** Structure ****************************/

body {
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
    cursor: default;
}

button {
    cursor: pointer;
}

ide {
    display:flex;
    flex-direction: column;
    height: 100vh;
}

editor {
    flex-grow: 1;
}

.center-wrapper {
    flex-grow: 1;
    display: flex;
}

.center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/**************************** Guide ****************************/

guide {
    position: relative;
    flex-grow: 1;
}

guide .welcome {
    text-align: center;
    padding-top: 200px;
}


guide .workspace {
    position: absolute;
    top: 60px;
    left: 20px;
}

guide .workspace div {
    float: right;
    margin-left: 10px;
    margin-top: -20px;
}

guide .workspace img {
    transform: rotate(55deg);
}


guide .repl {
    position: absolute;
    bottom: 15px;
    left: 40px;
}

guide .repl div {
    float: right;
    margin-top: -25px;
    margin-left: 5px;
}

guide .repl img {
    transform: rotate(340deg);
}


guide .debug {
    position: absolute;
    top: 30px;
    right: 20px;
}

guide .debug div {
    float: left;
    margin-right: 15px;
}

guide .debug img {
    transform: rotate(160deg) scaleY(-1);
}


guide .outline {
    position: absolute;
    top: 200px;
    right: 25px;
}

guide .outline div {
    float: left;
    margin-top: 15px;
    margin-right: 15px;
}

guide .outline img {
    transform: rotate(130deg) scaleY(-1);
}


guide .pog {
    position: absolute;
    top: 370px;
    right: 20px;
}

guide .pog div {
    float: left;
    margin-right: 15px;
}

guide .pog img {
    transform: rotate(200deg);
}

/**************************** Panels ****************************/

panel {
    flex-grow: 1;
    display: none;
}

panel.active {
    display: flex;
}

panel > .wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

panel-menu.left,
panel-menu.right {
    display: flex;
}

panel-menu.left > .wrapper,
panel-menu.right > .wrapper {
    display: flex;
}

panel-menu.left panel > .wrapper,
panel-menu.right panel > .wrapper {
    width: 300px;
}

panel-menu.bottom panel > .wrapper {
    height: 300px;
}

panel-menu.left {
    flex-direction: row-reverse;
}

panel-menu.left panel .content,
panel-menu.right panel .content {
    border-width: 0 1px;
}

panel-menu.bottom panel .content {
    border-width: 1px 0;
    height: 300px;
    flex-grow: 1;
}

panel-menu.left .menu,
panel-menu.right .menu {
    width: 24px;
    overflow-x: hidden;
}

panel-menu.bottom .menu {
    height: 24px;
}

panel-menu .menu button {
    background-color: transparent;
    width: 150px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    border: none;
    padding: 0;
    outline: none;
}

panel-menu.right .menu button {
    margin-bottom: 126px;
    transform-origin: 12px 12px;
    transform: rotate(90deg);
}

panel-menu.left .menu button {
    margin-top: 126px;
    transform-origin: 12px 12px;
    transform: rotate(-90deg);
}


panel .content {
    flex-grow: 1;
    overflow-y: scroll;
}

/**************************** Resizer ****************************/

right-resizer
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    cursor: col-resize;
}

left-resizer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    cursor: col-resize;
}

top-resizer {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    cursor: row-resize;
}


.CodeMirror {
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
    height: 100%;
}


.glyph.restart {
    background-position: 0 0;
}

.glyph.run {
    background-position: -64px -48px;
}

.glyph.break {
    background-position: -32px -72px;
}

.glyph.step-over {
    background-position: -128px -72px;
}

.glyph.step-into {
    background-position: -64px -72px;
}

.glyph.step-out {
    background-position: -96px -72px;
}

.glyph.stop {
    background-position: -96px -48px;
}

.glyph.close {
    background-position: -128px 0;
}

.glyph {
    background-image: url(../images/devtools.png);
    width: 32px;
    height: 24px;
    padding: 8px;
}

tree ul {
    list-style-type: none;
    padding: 0;
}

tree tree ul {
    padding-left: 17px;
}

tree .variable .icon {
    display: inline-block;
    height: 17px;
    width: 17px;
}

tree li span.icon.directory {
    background: url(../images/jstree.png) no-repeat -7px -5px;
}

tree li span.icon.directory.expanded {
    background-position: -39px -3px;
}

editor-tabs ul {
    margin: 0;
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

editor-tabs .wrapper {
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

editor-tabs li {
    height: 23px;
    list-style: none;
    display: inline-block;
}

editor-tabs li.active {
    margin-bottom: -1px;
    height: 24px;
    line-height: 24px;
}

editor-tabs li button {
    background: transparent;
    border: 0;
    outline: 0;
}

editor-tabs li button.close {
    margin-left: -7px;
}

editor {
    flex-grow: 1;
    justify-content: stretch;
    display: none;
}

editor.active {
    display: flex;
}

.CodeMirror {
    flex-grow: 1;
}

file-node {
    padding-left: 40px;
    display: block;
}

directory-node {
    padding-left: 20px;
    display: block;
}

.new-project-button {
    padding-left: 19px;
}

.new-project-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

workspace {
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
    cursor: default;
}

workspace input {
    cursor: text;
}


project-node .name,
file-node .name,
directory-node .name {
    height: 21px;
    line-height: 21px;
    display: inline-block;
}

project-node .active,
file-node .active,
directory-node .active {
    background-color: #0d293e;
}

file-node .name {
    cursor: pointer;
}

.icon {
    background: url(../images/icons.png) no-repeat;
    height: 21px;
    line-height: 21px;
    width: 16px;
    display: inline-block;
}

.icon.file {
    background-position: -105px -70px;
}
.icon.directory {
    background-position: -265px -6px;
}
.icon.sl-project {
    background-position: -169px -69px;
}
.icon.pp-project {
    background-position: -201px -69px;
}
.icon.rt-project {
    background-position: -233px -69px;
}
.icon.new-project {
    background-position: -169px -37px;
}
.icon.close {
    background-position: -8px -6px;
}
.icon.open {
    background-position: -39px -6px;
}

.icon.open,
.icon.close {
    cursor: pointer;
}

context-menu {
    display: none;
    width: 150px;
    position: fixed;
}

context-menu.open {
    display: block;
}

context-menu .item {
    padding: 0 5px;
    color: #bbbbbb;
    height: 21px;
    line-height: 21px;
}

context-menu .item:hover {
    background-color: #2f65ca;
}

/**************************** REPL ****************************/

repl {
    cursor: text;
}

repl input {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
}

repl .item,
repl .input {
    padding: 5px;
}

repl .input {
    display: flex;
}

repl .input > input {
    flex-grow: 1;
}


/**************************** Quick bar ****************************/

quick-bar {
    position: fixed;
    top: 30px;
    width: 100%;
    display: none;
    z-index: 10;
}

quick-bar.active {
    display: block;
    width: 100%;
}

quick-bar input {
    display: block;
    width: 100%;
}

quick-bar .wrapper {
    width: 500px;
    margin: 0 auto;
}

quick-bar .files div {
    cursor: pointer;
}