<div class="items">
    <div *ngFor="#item of replService.items" class="item">
        <div>
            <code>&gt;&nbsp;</code><code-view [code]="item.expression"></code-view>
        </div>
        <code-view *ngIf="item.type == 'code'" [code]="item.result"></code-view>
        <div *ngIf="item.type == 'error'" class="msg error">{{item.result}}</div>
    </div>
    <div class="input">
        <code>&gt;&nbsp;</code>
        <input #input
               [(ngModel)]="expression"
               (keyup.enter)="evaluate()"
               (keyup.arrowup)="selectPrev($event)"
               (keyup.arrowdown)="selectNext($event)">
    </div>
</div>