<ul [class.active]="active">
    <li [class.open]="current === 'files'">
        <button (mouseenter)="onMouseEnter('files')" (click)="onClick('files')">Files</button>
        <ul>
            <li><button (click)="workspaceService.newProject()">New project</button></li>
            <li><button (click)="examplesService.open()">Import example</button></li>
        </ul>
    </li>
    <li [class.open]="current === 'profile'">
        <button (mouseenter)="onMouseEnter('profile')" (click)="onClick('profile')">{{authService.profile?.name}}</button>
        <ul>
            <li><button (click)="authService.signOut()">Sign out</button></li>
        </ul>
    </li>
    <li class="feedback">
        <a target="_blank" href="https://bitbucket.org/overturewebide/feedback/issues/new">Got some feedback for us?</a>
    </li>
</ul>