<div draggable="true"
     (contextmenu)="onContextMenu($event)"
     (dragstart)="dragstart($event)"
     (drop)="drop($event)"
     (dragover)="dragover($event)"
     (dragleave)="dragleave($event)"
     [class.dragged-over]="draggedOver"
     [class.active]="active">
    <span class="icon" [class.open]="open" [class.close]="!open" (click)="toggle()">&nbsp;</span>
    <span class="icon directory">&nbsp;</span>
    <span *ngIf="renaming" [ngFormModel]="renameForm"><input ngControl="name" (blur)="onBlur()" (keyup)="onKeyup($event)"></span>
    <span *ngIf="!renaming" class="name">{{directory.name}}</span>
</div>

<context-menu>
    <div (click)="createFile()" class="item">New file</div>
    <div (click)="createDirectory()" class="item">New directory</div>
    <hr>
    <div (click)="startRename()" class="item">Rename directory</div>
    <div (click)="delete()" class="item">Delete directory</div>
</context-menu>

<div *ngIf="open">
    <directory-node *ngFor="#childDirectory of (directory.children | directories)"
                    [directory]="childDirectory"></directory-node>
    <file-node *ngFor="#file of (directory.children | files)" [file]="file"></file-node>
</div>