<div class="wrapper" *ngIf="examplesService.active">
    <div class="list">
        <div class="example list-item"
             *ngFor="#example of examples"
             [class.active]="example === current"
             (click)="select(example)">
            <div class="name">{{example.name}}</div>
            <div class="author">Author: {{example.author}}</div>
            <div class="version">{{example.version}}</div>
        </div>
    </div>
    <div class="details" *ngIf="current">
        <h2>{{current.name}}</h2>
        <div class="description">{{current.description}}</div>
        <div><button>Import</button></div>
    </div>
</div>
