<div (contextmenu)="onContextMenu($event)" draggable="true" (dragstart)="dragstart($event)" [class.active]="active">
    <span class="icon file">&nbsp;</span>
    <span *ngIf="renaming" [ngFormModel]="renameForm"><input ngControl="name" (blur)="onBlur()" (keyup)="onKeyup($event)"></span>
    <span *ngIf="!renaming" class="name" (click)="click($event)">{{file.name}}</span>
</div>

<context-menu>
    <div (click)="startRename()" class="item">Rename file</div>
    <div (click)="delete()" class="item">Delete file</div>
</context-menu>