<div class="wrapper"
     [class.active]="active"
     [draggable]="!renaming"
     (contextmenu)="onContextMenu($event)"
     (dragstart)="dragstart($event)"
     (click)="onClick($event)"
     (dblclick)="onDblClick($event)">
    <span class="icon file">&nbsp;</span>
    <span *ngIf="renaming" [ngFormModel]="renameForm"><input #renameInput ngControl="name" (blur)="rename()" (keyup)="onKeyup($event)"></span>
    <span *ngIf="!renaming" class="name">{{file.name}}</span>
</div>

<context-menu>
    <div (click)="startRename()" class="item">Rename file</div>
    <div (click)="delete()" class="item">Delete file</div>
</context-menu>