<div (contextmenu)="onContextMenu($event)"
     (drop)="drop($event)"
     (dragover)="dragover($event)"
     (dragleave)="dragleave($event)"
     [class.dragged-over]="draggedOver"
     [class.active]="active">
    <span class="icon" [class.open]="open" [class.close]="!open" (click)="toggle()">&nbsp;</span>
    <span class="icon sl-project">&nbsp;</span>
    <span *ngIf="renaming" [ngFormModel]="renameForm"><input ngControl="name" (blur)="rename()" (keyup)="onKeyup($event)"></span>
    <span *ngIf="!renaming" class="name">{{project.name}}</span>
</div>

<context-menu #contextMenu>
    <div (click)="createFile()" class="item">New file</div>
    <div (click)="createDirectory()" class="item">New directory</div>
    <hr>
    <div (click)="startRename()" class="item">Rename project</div>
    <div (click)="delete()" class="item">Delete project</div>
</context-menu>

<div *ngIf="open">
<directory-node *ngFor="#directory of (project.children | directories)" [directory]="directory"></directory-node>
<file-node *ngFor="#file of (project.children | files)" [file]="file"></file-node>
</div>