<div class="wrapper" (contextmenu)="onContextMenu($event)" *ngIf="workspace">
    <div *ngIf="workspace.children.length === 0">
        <ul>
            <li>Import example projects from the Files menu.</li>
            <li>Create a new project from the Files menu.</li>
        </ul>
    </div>
    <project-node *ngFor="#project of workspace.children" [project]="project"></project-node>
</div>
<context-menu>
    <div (click)="workspaceService.newProject()" class="item">New project</div>
    <div (click)="examplesService.open()" class="item">Import example</div>
</context-menu>
